<% if users.any? %>
  <ul class="media-list">
    <% users.each do |user| %>
        <div class="media-body">
          <div>
            <%#= user.name %>
            <%= current_user %>
          </div>
          <div>
            <p><%= link_to 'View profile', user_path(user) %></p>
            <p><%= link_to 'Tasklist', task_path(user) %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>